body {
    padding: 1em;
    width: 20em;
}

#response {
    margin-top: 0.5rem;
    border-radius: .25rem; /* Use same radius as bootstrap lol */
    border: 2px solid #347aff; /* Same button colour as bootstrap */
    padding: 5px;
    display: none; /* Hide until shown by js */
}